body{
    background-color: whitesmoke;
}
.detail{
    background-image: linear-gradient(to left, pink, rgb(194, 61, 61), maroon, blue);
    border: 2px solid black;
    margin-bottom: 20px;
    font-family: cursive;
    font-size: 1.5em;
}

.first{
    padding: 20px;
    border: 2px solid black;
    text-align: center;
    background-image: linear-gradient(to left, pink, rgb(194, 61, 61), blue, maroon);
}
input{
    display:block;
    padding: 10px;
    margin: auto;
    margin-bottom: 15px;
    font-size: 1em;
    border-radius: 8px;
}
button{
    padding: 5px;
    font-size: 1.2em;
    color: white;
    background-color: black;
    border-radius: 12px;
}

button:hover{
    cursor: pointer;
}

p{
    font-size: 1.5em;
    font-weight: bolder;
    display: none;
}

.valid{
    color: rgb(4, 130, 4);
}

.invalid{
    color: red;    
}