.bigborder
{
    margin-left: 30%;
    margin-top:30px;
    background-color: white;
    border-radius: 5px;
    height: 600px;
    width: 600px;
    display: flex;
}
.inborder
{
    margin-top: 3px;
    margin-left: -104%;
    background-color:rgb(98, 160, 36);
    height: 500px;
    width: 330px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.downborder
{
    margin-top: 50px;
    background-color: white;
    height: 20%;
    width: 330px;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.border
{
    margin-top: 10px;
    margin-left: 3%;
    width: 50px;
    height: 50px;
    border-style:groove;
    border: 100%;
}
.spacing
{
    margin-left: 50%;
}
.price{
    color:red;
}
.selectborder
{
    border: 1px solid transparent;
}
.selectborder:hover
{
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.button
{
    height: 45px;
    color: white;
    border-radius: 5px;
    background-color: red;
    width: 90%;
}
.button:hover
{
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}